[submodule ".zsh/plugins/zsh-syntax-highlighting"]
	path = .zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule ".zsh/plugins/zsh-autosuggestions"]
	path = .zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule ".zsh/plugins/zsh-completions"]
	path = .zsh/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
	branch = master
[submodule ".zsh/plugins/zsh-nx-completion"]
	path = .zsh/plugins/zsh-nx-completion
	url = https://github.com/jscutlery/nx-completion.git
	branch = main
